<div class="mobile-forehead">
  <div class="profile-background">
    <%= image_tag 'Vector.png' %>
  </div>
  <div class="container-profile">
    <div class="profile-picture">
      <img src=<%= User.all[4].photo %> alt="avatar", width="100px" class="profile-img" style="float:right">
    </div>
    <div class="profile-name">
      <h2><%= User.all[4].username %></h2>
    </div>
    <div class="individual-review">
      <ul>
        <% @reviews.each do |review| %>
          <li>👍 <%= review.content %> DATE</li>
        <% end %>
      </ul>
    </div>
  </div>

  <div id="sparkle" class="crown-rank">
    <img src="https://image.flaticon.com/icons/svg/1071/1071623.svg" style="
      width: 60px;">
  </div>
  <div class="name-ranking">
    <h3 style="font-weight: bold; font-size: 20px;">Superstar Craver</h3>
  </div>
  <div class="follow-container d-flex justify-content-around align-items-center" style="margin: 45px; margin-top: 32px;">
    <div class="profile-followers">
      <h4 class="follower-number" style="margin-bottom: 0px; font-weight: bold;">674</h4>
      <p style="font-size: small; color: #6c757d;">followers</p>
    </div>
    <p class="follow-button" style="border-width: thin; font-weight: bold; margin-bottom: 8px;">Follow</p>
    <div class="profile-following">
      <h4 style="margin-bottom: 0px; font-weight: bold;">1.2k</h4>
      <p style="font-size: small; color: #6c757d;">following</p>
    </div>
  </div>
</div>


<div class="review-container">
  <div class="vote-container">
    <div class="num_box">
      <h1>349</h1>
      <p> votes </p>
    </div>
  </div>
  <div class="review-card">

    <div class="review-vote-area">
      <span><i class="fas fa-chevron-up fa-lg"></i></span>
      <span>52</span>
      <span><i class="fas fa-chevron-down fa-lg"></i></span>
    </div>

    <%= link_to dish_path(Dish.first) do %>
      <img src="<%= Dish.first.photo %>" alt="avatar", width="25px" class="avatar">
    <% end %>
    <div class="review-text-area">
      <div class="review-title">
        <h3><%= Dish.first.name %></h3>
        <p>2019-12-02</p>
      </div>

      <div class="review-body">
          <%# <%= Dish.first.reviews.first %>
          <p>To make things even better if you are a spicy lover, make sure to ask for Spicy Miso, it will blow your mind.</p>
      </div>
    </div>
  </div>

 <div class="review-card">

    <div class="review-vote-area">
      <span><i class="fas fa-chevron-up fa-lg"></i></span>
      <span>49</span>
      <span><i class="fas fa-chevron-down fa-lg"></i></span>
    </div>

    <img src="https://media-cdn.tripadvisor.com/media/photo-s/11/92/e7/c8/dolsot-bibimbap-jeyuk.jpg" alt="avatar", width="25px" class="avatar">

    <div class="review-text-area">
      <div class="review-title">
        <h3>Bibimbap</h3>
        <p>2019-11-29</p>
      </div>

      <div class="review-body">
          <p>Best Jeyuk bibimbap lunch spot!, must try with goujijang spicy sauce!</p>
      </div>
    </div>
  </div>
  <div class="review-card">

    <div class="review-vote-area">
      <span><i class="fas fa-chevron-up fa-lg"></i></span>
      <span>42</span>
      <span><i class="fas fa-chevron-down fa-lg"></i></span>
    </div>

    <img src="https://www.hickoryfarms.com/dw/image/v2/AAOA_PRD/on/demandware.static/-/Sites-Web-Master-Catalog/default/dw47c81875/images/products/42oz-tomahawk-061131-1.jpg?sw=815&sh=815&sm=fit" alt="avatar", width="25px" class="avatar">

    <div class="review-text-area">
      <div class="review-title">
        <h3>Tomahawk</h3>
        <p>2019-11-27</p>
      </div>

      <div class="review-body">
          <p>Totally worth every penny!, Most delicious Tomahawk steak in town! , Must try!, No REGRETS!!</p>
      </div>
    </div>
  </div>

  <div class="review-card">

    <div class="review-vote-area">
      <span><i class="fas fa-chevron-up fa-lg"></i></span>
      <span>35</span>
      <span><i class="fas fa-chevron-down fa-lg"></i></span>
    </div>

    <img src="https://www.mtlblog.com/uploads/88407_245af8251f3cdfc583703319ced0f68f1ed25cdb.jpg_facebook.jpg" alt="avatar", width="25px" class="avatar">

    <div class="review-text-area">
      <div class="review-title">
        <h3>Smoke Meat Shwartz</h3>
        <p>2019-12-04</p>
      </div>

      <div class="review-body">
          <p>Best Smoke meat in town, order the fatty version, you will not be dissapointed</p>
      </div>
    </div>
  </div>

  <div class="review-card">

    <div class="review-vote-area">
      <span><i class="fas fa-chevron-up fa-lg"></i></span>
      <span>23</span>
      <span><i class="fas fa-chevron-down fa-lg"></i></span>
    </div>

    <img src="https://tastet.ca/wp-content/uploads/2019/06/bibiko-4.png" alt="avatar", width="25px" class="avatar">

    <div class="review-text-area">
      <div class="review-title">
        <h3>bibiko</h3>
        <p>2019-12-06</p>
      </div>

      <div class="review-body">
          <p>Food is just alright! the bibimbap are cold, more like a salad, not worth the money and credit card only, THEY DONT ACCEPT CASH!</p>
      </div>
    </div>
  </div>

</div>

