<div class="card animated fadeIn" data-favorite-id="<%= favorite.id %>" data-dish-id="<%= dish.id %>" >
  <img src="<%= favorite.dish.restaurant.photo %>" alt="", class="logo">
<!--               <div class="card_ban d-flex justify-content-end" style="background-image: linear-gradient(rgba(255, 255, 255, 0.25),rgba(255, 255, 255, 0.25)), url(<%= favorite.dish.photo %>);">
-->              <div class="card_ban d-flex justify-content-end" style="background-image: url(<%= favorite.dish.photo %>);">
      <div>
        <% if current_user.favorites.filter { |favorites| favorites.dish == favorite.dish}.empty? %>
          <%= link_to '<i class="far fa-heart"></i>'.html_safe, dish_favorites_path(favorite.dish), class: 'link-to-text-color', method: :post, remote: true %>
        <% else %>
          <%= link_to '<i class="fas fa-heart"></i>'.html_safe, dish_favorite_path(favorite.dish, current_user.favorites.filter { |favorites| favorites.dish == favorite.dish}.first ), class: 'link-to-text-color-liked', method: :delete, remote: true %>
       <% end %>
     </div>
  </div>
<%= link_to dish_path(favorite.dish), class: "link-to-dish" do %>
  <div class="card_detail">
    <div class="vote_num_2 d-flex justify-content-end">
      <span><strong><%= favorite.dish.votes.map{|vote| vote.vote}.sum %></strong></span>
      <i class="fas fa-thumbs-up"></i>
    </div>
    <div class="d-flex flex-column justify-content-between card-content">
      <h4 class="txt"><%= favorite.dish.name %></h4>
      <div class="txt-subtilte d-flex justify-content-between">
        <span class="txt_desc">
          <%= favorite.dish.restaurant.name %>
        </span>
        <span class="txt_desc">
          <%= "$" * (favorite.dish.price) %>
        </span>
      </div>

    </div>
  </div>
<% end %>
</div>
