<div class="card main_dish_search_card" data-description="<%= dish.name %>" data-dish-id="<%= dish.id %>">
  <img src="<%= dish.restaurant.photo %>" alt="", class="logo">
  <!-- <div class="card_ban d-flex justify-content-end" style="background-image: linear-gradient(rgba(255, 255, 255, 0.25),rgba(255, 255, 255, 0.25)), url(<%= dish.photo %>);"> -->
  <div class="card_ban d-flex justify-content-end" style="background-image: url(<%= dish.photo %>);">
    <div>
      <% if !user_signed_in? || current_user.favorites.filter { |favorite| favorite.dish == dish}.empty? %>
        <%= link_to '<i class="far fa-heart"></i>'.html_safe, dish_favorites_path(dish), class: 'link-to-text-color', method: :post, remote: true %>
      <% else %>
        <%= link_to '<i class="fas fa-heart"></i>'.html_safe, dish_favorite_path(dish, current_user.favorites.filter { |favorite| favorite.dish == dish}.first ), class: 'link-to-text-color-liked', method: :delete, remote: true %>
      <% end %>
    </div>
  </div>
  <%= link_to dish_path(dish), class: "link-to-dish" do %>
    <div class="card_detail">
      <div class="vote-num d-flex justify-content-end">
        <span><strong><%= dish.votes.map{|vote| vote.vote}.sum %></strong></span>
        <i class="fas fa-thumbs-up"></i>
      </div>
      <div class="card-content d-flex flex-column justify-content-between">
        <h4 class="txt"><%= dish.name %></h4>
        <div class="txt-subtilte d-flex justify-content-between">
          <span class="txt_desc">
            <%= dish.restaurant.name %>
          </span>
          <span class="txt_desc">
            <%= "$" * (dish.price) %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>
