<body class="background-container">

  <div id="video-overlay"></div>
  <video id="mainVideo" autoplay muted loop src="<%= asset_path 'video (2).mp4'%>"></video>
 
  <div class="container" style="display: flex; flex-direction: column;">
    <div style="position: relative; width: 400px; align-self:center;" class="title d-flex justify-content-center">
      <h1>Cravings</h1>
      <svg style="position: absolute; right: 16%;" width="24" height="35" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="6" cy="6" r="6" fill="#FFFDFD"/>
        <circle cx="6" cy="6" r="4" fill="#FD5C3A"/>
      </svg>
    </div>

    <%= form_tag "", id: "index_form", method: :get do %>
      <div class="searchbutton d-flex justify-content-center" style="position: relative;">
        <%= text_field_tag :query,
          params[:query],
          placeholder: "What are you craving?",
          class: 'searchbar index_search',
          id: 'banner-typed-text',
          value: '',
          style: 'width: 65%;'
        %>
        <%= submit_tag ">", id: "index_submit", class: 'btn btn-primary', style: "border: none; width: 35px; height: 35px; border-radius: 100%; position: absolute; right: 20%; top: -26%;"%>
      </div>
      <div id="hidden_search_area">
        <div id="search_result_category">
          <% @categories.each do |category| %>
            <%= link_to dishes_path(category: category.name) do %>
              <div class="card-trip-link" style="display: none;" id="category-<%= category.id %>">
                <strong><%= category.name %></strong>
              </div>
            <% end %>
          <% end %>
        </div>

        <div id="search_result_dishes">
          <% @dishes.each do |dish| %>
            <%= link_to dishes_path(dish: dish.name) do %>
              <div class="card-trip-link" style="display: none;" id="dish-<%= dish.id %>">
                <%= dish.name %>
              </div>
            <% end %>
          <% end %>
        </div>
    <% end %>

    <div class="moving-input">
      <p><span id="banner-typed-text"></span></p>
    </div>
    <!-- <%= link_to "Lets GOOOOOOO", dish_path(1) %> -->
  </div>

</body>
