
<div class="container">
<<<<<<< HEAD
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form_tag "", html: { id: "index_form"}, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          id: "index_search",
          placeholder: "What are you craving?"
        %>
        <%= submit_tag "Let's go", id: "index_submit" %>
      <% end %>
    </div>
  </div>
</div>


<div id="hidden_search_area">
  <div id="search_result_category">
    <% @categories.each do |category| %>
      <%= link_to dishes_path(category: category.name) do %>
        <div class="card-trip-link" style="display: none;" id="category-<%= category.id %>">
          <strong><%= category.name %></strong>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="search_result_dishes">
    <% @dishes.each do |dish| %>
      <%= link_to dishes_path(dish: dish.name) do %>
      <%= link_to dishes_path(dish: dish.name) do %>
        <div class="card-trip-link" style="display: none;" id="dish-<%= dish.id %>">
          <%= dish.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



<div class="title d-flex justify-content-center">
    <h1>CRAVINGS</h1>
  </div>
  <div class="searchbutton d-flex justify-content-center">
    <input class="searchbar" type="text" name="search" placeholder=<span id="banner-typed-text"></span>
  </div>
  <div class="button-go d-flex justify-content-center">
    <input class="btn btn-primary" type="Submit" value="Let's Go!">
  </div>
  <div class="moving-input">
    <p><span id="banner-typed-text"></span></p>
  </div>
  <!-- <%= link_to "Lets GOOOOOOO", dish_path(1) %> -->
</div>
