<%= link_to 'Back Button', :back %>
<h3>NAVBAR HERE</h3>

<p>MAP HERE</p>
<p>WITH SEARCH BAR</p>

<h3>Top <%= @category.name %> </h3>
<ul>
  <% @list.each do |dish| %>
    <li>
      <img src="<%= dish.photo %>" alt="dish photo", width="100px">
      <img src="<%= dish.restaurant.photo %>" alt="Resto Logo", width="25px">

      name : <%= link_to dish.name, dish_path(dish)%>
      <%= "ðŸ’²" * (dish.price) %>
       total votes: <%= dish.votes.map{|vote| vote.vote}.sum %>

      <% if current_user.favorites.filter { |favorite| favorite.dish == dish}.empty? %>
        <%= link_to "ðŸ–¤", dish_favorites_path(dish), method: :post%>
      <% else %>
        <%= link_to "â¤ï¸", dish_favorite_path(dish, current_user.favorites.filter { |favorite| favorite.dish == dish}.first ), method: :delete%>
      <% end %>

    </li>
  <% end %>
</ul>

<h3>Your Favorites</h3>
<ul>
  <% current_user.favorites.each do |favorite| %>
    <li>
      <img src="<%= favorite.dish.photo %>" alt="Dish photo", width="100px">
      <img src="<%= favorite.dish.restaurant.photo %>" alt="Resto Logo", width="25px">
      name : <%= link_to favorite.dish.name, dish_path(favorite.dish)%>
      <%= "ðŸ’²" * (favorite.dish.price) %>
      total votes: <%= favorite.dish.votes.map{|vote| vote.vote}.sum %>
      <% if current_user.favorites.filter { |favorites| favorites.dish == favorite.dish}.empty? %>
        <%= link_to "ðŸ–¤", dish_favorites_path(favorite.dish), method: :post%>
      <% else %>
        <%= link_to "â¤ï¸", dish_favorite_path(favorite.dish, current_user.favorites.filter { |favorites| favorites.dish == favorite.dish}.first ), method: :delete%>
      <% end %>
    </li>
  <% end %>
</ul>

<!-- <h3>We Recommend</h3>
<ul>

</ul> -->
