<div
  id="map"
  style="width: 100%;
  height: 30vh;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<h3>Top <%= @category.name %> </h3>
<div>
  <div class="container_card">
    <% @list.each do |dish| %>
      <div class="card">
        <img src="<%= dish.restaurant.photo %>" alt="dish photo", class="logo">
        <div class="card_ban d-flex justify-content-end" style="background-image: url(<%= dish.photo %>);">
          <div>
            <% if !user_signed_in? || current_user.favorites.filter { |favorite| favorite.dish == dish}.empty? %>
              <%= link_to '<i class="far fa-heart"></i>'.html_safe, dish_favorites_path(dish), class: 'link-to-text-color', method: :post%>
            <% else %>
              <%= link_to '<i class="fas fa-heart"></i>'.html_safe, dish_favorite_path(dish, current_user.favorites.filter { |favorite| favorite.dish == dish}.first ), class: 'link-to-text-color-liked', method: :delete%>
            <% end %>
          </div>
        </div>
        <div class="card_detail">
          <div class="d-flex justify-content-end">
            <span><strong><%= dish.votes.map{|vote| vote.vote}.sum %> </strong></span>
            <div class="like">
              <i class="fas fa-thumbs-up"></i>
            </div>
          </div>
          <h4 class="txt"><%= link_to dish.name, dish_path(dish)%></h4>
          <span class="txt_desc"><%= dish.restaurant.name %><%= "$" * (dish.price) %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <h3>Your Favorites</h3>
  <div class="container_card">
    <% current_user.favorites.each do |favorite| %>
      <div class="card">
        <img src="<%= favorite.dish.restaurant.photo %>" alt="dish photo", class="logo">
        <div class="card_ban d-flex justify-content-end"style="background-image: url(<%= favorite.dish.photo %>);">
          <div>
            <% if current_user.favorites.filter { |favorites| favorites.dish == favorite.dish}.empty? %>
              <%= link_to '<i class="far fa-heart"></i>'.html_safe, dish_favorites_path(favorite.dish), class: 'link-to-text-color', method: :post%>
            <% else %>
              <%= link_to '<i class="fas fa-heart"></i>'.html_safe, dish_favorite_path(favorite.dish, current_user.favorites.filter { |favorites| favorites.dish == favorite.dish}.first ), class: 'link-to-text-color-liked', method: :delete%>
            <% end %>
          </div>
        </div>
        <div class="card_detail">
          <div class="d-flex justify-content-end">
            <span><strong><%= favorite.dish.votes.map{|vote| vote.vote}.sum %></strong></span>
            <div class="like">
              <i class="fas fa-thumbs-up"></i>
            </div>
          </div>
          <h4 class="txt"><%= link_to favorite.dish.name, dish_path(favorite.dish)%></h4>
          <span class="txt_desc"><%= favorite.dish.restaurant.name %><%= "$" * (favorite.dish.price) %></span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>







<div class="container_card">
<div class="card_lg">
  <img src="https://images.unsplash.com/photo-1571901206464-a669d11eb643?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" />
  <div class="flex-grow-1">
    <div class="justify-content-end text-right">
      <span><strong>5000</strong></span>
    </div>
    <div class="card_infos">
      <h2 class="txt">Bimbimbap</h2>
      <p class="txt_desc">Petit Seoul</p>
    </div>
  </div>
</div>

<div class="card_comment">
  <img src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
  <div class="comments flex-grow-1">
    <h2 class="txt">Lorem ipsum dolor sit amet</h2>
    <p class="txt_desc">commodi deserunt neque animi maxime?</p>
  </div>
</div>
