<%= link_to 'Back Button', :back %>
<img src="<%= @dish.photo %>" alt="dish photo", width="100px">

<h1>
  <%= @dish.name %>
  <% if current_user.favorites.filter { |favorite| favorite.dish == @dish}.empty? %>
        <%= link_to "ðŸ–¤", dish_favorites_path(@dish), method: :post%>
  <% else %>
        <%= link_to "â¤ï¸", dish_favorite_path(@dish, current_user.favorites.filter { |favorite| favorite.dish == @dish}.first ), method: :delete%>
  <% end %>
</h1>


<p>
  <%= link_to @dish.restaurant.name, restaurant_path(@dish.restaurant) %>
</p>

<p><%= "ðŸ’²" * (@dish.price) %></p>

<%= link_to "ðŸ‘", dish_votes_path(@dish, vote: 1), method: :post %>
<%= link_to "ðŸ‘Ž", dish_votes_path(@dish, vote: -1), method: :post %>

<p>Total Vote : <%= @dish.votes.map{|vote| vote.vote}.sum %></p>

<h2>Reviews</h2>

<ul>
  <% @dish.reviews.each do |review| %>
    <li>
      Total Vote : <%= review.vote_reviews.map{|vote| vote.vote}.sum %>
      <% unless review.photo.nil?%>
        <img src="<% review.photo %>" alt="review photo", width="25px">
      <% end %>
      <%= review.content %>
      <%= link_to "ðŸ‘", review_vote_reviews_path(review, vote: 1), method: :post %>
      <%= link_to "ðŸ‘Ž", review_vote_reviews_path(review, vote: -1), method: :post %>
    </li>
  <% end %>
</ul>





