<h1><%= @dish.name %></h1>

<p>PHOTO OF DISH</p>

<p><%= @dish.restaurant.address %></p>

<p>GO BUTTON</p>

<p><%= "ðŸ’²" * (@dish.price) %></p>

<%= link_to "ðŸ‘", dish_votes_path(@dish, vote: 1), method: :post %>
<%= link_to "ðŸ‘Ž", dish_votes_path(@dish, vote: -1), method: :post %>

<p>Total Vote : <%= @dish.votes.map{|vote| vote.vote}.sum %></p>

<h2>Reviews</h2>

<ul>
  <% @dish.reviews.each do |review| %>
    <li>
      Total Vote : <%= review.vote_reviews.map{|vote| vote.vote}.sum %>
      <% unless review.photo.nil?%>
        <img src="<% review.photo %>" alt="review photo">
      <% end %>
      <%= review.content %>
      <%= link_to "ðŸ‘", review_vote_reviews_path(review, vote: 1), method: :post %>
      <%= link_to "ðŸ‘Ž", review_vote_reviews_path(review, vote: -1), method: :post %>
    </li>
  <% end %>
</ul>





