<div class="head-container">

  <img src="<%= @dish.photo %>" alt="dish photo", width="100px" class="food_photo">

  <div class="text_area">
    <h1>
      <%= @dish.name %>
      <% if !user_signed_in? || current_user.favorites.filter { |favorite| favorite.dish == @dish}.empty? %>
            <%= link_to "ðŸ–¤", dish_favorites_path(@dish), method: :post%>
      <% else %>
            <%= link_to "â¤ï¸", dish_favorite_path(@dish, current_user.favorites.filter { |favorite| favorite.dish == @dish}.first ), method: :delete%>
      <% end %>
    </h1>
    <span>
      <%= link_to @dish.restaurant.name, restaurant_path(@dish.restaurant) %>
    </span>
  </div>

  <div class="vote-container">
    <%= link_to '<i class="fas fa-thumbs-down"></i>'.html_safe , dish_votes_path(@dish, vote: -1), method: :post, class: "vote-button down"%>
    <div class="num_box">
      <h1><%= @dish.votes.map{|vote| vote.vote}.sum %></h1>
      <p> votes </p>
    </div>
    <%= link_to '<i class="fas fa-thumbs-up"></i>'.html_safe, dish_votes_path(@dish, vote: 1), method: :post, class: "vote-button up"%>
  </div>




  <div class="review_container">
    <h2>Reviews</h2>
    <ul>
      <% @list.each do |review| %>
        <li>
          Total Vote : <%= review.vote_reviews.map{|vote| vote.vote}.sum %>
          <% unless review.photo.nil?%>
            <img src="<% review.photo %>" alt="review photo", width="25px">
          <% end %>
          <%= review.content %>
          <%= link_to "ðŸ‘", review_vote_reviews_path(review, vote: 1), method: :post %>
          <%= link_to "ðŸ‘Ž", review_vote_reviews_path(review, vote: -1), method: :post %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
