<div class="head-container">
  <div class="mobile-forehead">
    <img src="<%= @dish.photo %>" alt="dish photo", width="100px" class="food_photo">

      <div class="text_area">
        <h1>
          <%= @dish.name %>
          <% if !user_signed_in? || current_user.favorites.filter { |favorite| favorite.dish == @dish}.empty? %>
                <%= link_to "ðŸ–¤", dish_favorites_path(@dish), method: :post%>
          <% else %>
                <%= link_to "â¤ï¸", dish_favorite_path(@dish, current_user.favorites.filter { |favorite| favorite.dish == @dish}.first ), method: :delete%>
          <% end %>
        </h1>
        <span>
          <%= link_to @dish.restaurant.name, restaurant_path(@dish.restaurant) %>
        </span>
      </div>
  </div>

  <div class="review-container">
    <div class="vote-container">
      <%= link_to '<i class="fas fa-thumbs-down"></i>'.html_safe , dish_votes_path(@dish, vote: -1), method: :post, class: "vote-button down"%>
      <div class="num_box">
        <h1><%= @dish.votes.map{|vote| vote.vote}.sum %></h1>
        <p> votes </p>
      </div>
      <%= link_to '<i class="fas fa-thumbs-up"></i>'.html_safe, dish_votes_path(@dish, vote: 1), method: :post, class: "vote-button up"%>
    </div>

    <h5 class="add-review">Add Reviews</h5>
    <% @list.each do |review| %>
      <div class="review-card">

        <div class="review-vote-area">
          <span><%= link_to '<i class="fas fa-chevron-up fa-lg"></i>'.html_safe, review_vote_reviews_path(review, vote: 1), method: :post, class: "review-button up"%></span>
          <span><%= review.vote_reviews.map{|vote| vote.vote}.sum %></span>
          <span><%= link_to '<i class="fas fa-chevron-down fa-lg"></i>'.html_safe, review_vote_reviews_path(review, vote: -1), method: :post, class: "review-button down"%></span>
        </div>

        <img src="<%= review.user.photo %>" alt="avatar", width="25px" class="avatar">

        <div class="review-text-area">
          <div class="review-title">
            <h3><%= review.user.username%></h3>
            <p><%= review.date%></p>
          </div>

          <% unless review.photo.nil?%>
            <img src="<%= review.photo %>" class = " review-photo" alt="review photo", width="25px">
          <% end %>

          <div class="review-body">
            <% if review.content.length > 120 %>
              <p><%= review.content.split(" ")[0...22].join(" ")%><span class="dots">...</span><span class="more" style="display:none;"><%= review.content.split(" ")[22..-1].join(" ") %></span></p>
              <button type= "button" class="myBtn">Read more</button></p>
            <% else %>
              <p><%= review.content %></p>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>
  </div>

</div>

